.avatar {
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    width: 100%;
    height: 100%;
  }

  &__crop {
    position: absolute;
    background-color: brown;
    margin-top: 375px;
    cursor: pointer;
  }
  
  &__message {
    position: absolute;
    color: white;
    background-color: black;
  }
  
  &__drop_case {
    position: absolute;
    z-index: 51;
  }
  
  &__drop_fon {
    position: absolute;
    background-color: rgba(104, 96, 96, 0.555);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 50;
  }
  
  &__drop_effect {
    border: 4px solid rgba(53, 50, 50, 0.733);
    border-radius: 20px;
    animation: extension linear infinite 1s;
  }
}

.drop_avatar {
  width: 450px;
  height: 450px;
}

