.multfilms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.multfilms_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  font-weight: bold;
  font-size: 18pt;
  cursor: pointer;
}
.vertical {
  height: 300px;
  width: 180px;
}
.horizontal {
  height: 300px;
  width: 280px;
}
.multfilms_list:hover {
  font-size: 20pt;
}
.multfilms_list:hover .multfilms_list_logo {
  max-width: 99%;
  max-height: 99%;
}
.multfilms_list_block {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 250px;
}
.multfilms_list_logo {
  max-width: 95%;
  max-height: 95%;
}
.multfilms_watched {
  position: absolute;
}