@import 'scssStyles/text.scss';
@import 'scssStyles/inputs.scss';
@import 'scssStyles/buttons.scss';
@import 'scssStyles/divs.scss';

body {
  margin: 0;
  background-image: url(./components/assets/fon.png);
  background-color: #010522;
  color: white;
  font-size: 14pt;
  font-family: 'Roboto', sans-serif;
}
input[type=file] {
  visibility: hidden;
  position: absolute;
}