.multTest_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.multTest_form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 60vh;
}
.test_image {
  height: 400px;
}
.test_answers {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.test_answer {
  height: 30px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14pt;
}
@media screen and (max-width: 850px) {
  .multTest_form {
    margin-top: 20px;
  }
  .test_image {
    max-height: 300px;
    max-width: 100%;
  }
}