.multTest_block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.multTest_form {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border-radius: 30px;
  width: 100%;
  height: 60vh;
}
.test_text {
  text-align: center;
  font-size: 16pt;
}
.test_image {
  margin: 20px;
  height: 400px;
}
.test_answers {
  display: flex;
}
.test_answer {
  height: 30px;
  margin-left: 20px;
  cursor: pointer;
  font-size: 14pt;
}