.chooser {
  display: flex;
  width: 100%;
  overflow: hidden;

  &__option_chosed {
    font-weight: bold;
    text-decoration: underline;
  }

  &__option {
    width: calc(50% - 7.5px);
    display: flex;
    align-items: center;
  }

  &__option_left {
    position: absolute;
    right: 10%;
    justify-content: right;
    animation: gereralLeftShift forwards 2s;
  }
  &__option_right {
    position: absolute;
    left: 10%;
    animation: generalRightShift forwards 2s;
  }

  &__option_multOffer_left {
    animation: multLeftShift forwards 2s;
  }
  &__option_multOffer_right {
    animation: multRightShift forwards 2s;
  }
  &__option_questOffer_left {
    animation: questLeftShift forwards 2s;
  }
  &__option_questOffer_right {
    animation: questRightShift forwards 2s;
  }

  &__option_text {
    padding: 10px;
  }

  &__option_text_left {
    padding-right: 20px;
    position: relative;
    left: 18px;
  }
  &__option_text_left:hover {
    background:linear-gradient(-75deg, transparent 15px, azure 0);
    border-radius: 10px 0px 0px 10px;
    color: black;
  }

  &__option_text_right {
    padding-left: 20px;
    position: relative;
    right: 18px;
  }
  &__option_text_right:hover {
    background:linear-gradient(105deg, transparent 15px, azure 0);
    border-radius: 0px 10px 10px 0px;
    color: black;
  }

  &__delimiter {
    height: 47.5px;
    width: 15px;
  }

  .hide {
    animation: hide forwards 0.5s;
  }
  .left {
    justify-content: right;
  }

  @keyframes hide {
    100% {
      opacity: 0;
    }
  }

  @keyframes multLeftShift {
    100% {
      transform: translateX(calc(-100% + 200px));
    }
  }
  @keyframes multRightShift {
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes questLeftShift {
    100% {
      transform: translateX(-100%);
    }
  }
  @keyframes questRightShift {
    100% {
      transform: translateX(calc(100% - 200px));
    }
  }

  @keyframes gereralLeftShift {
    100% {
      transform: translateX(calc(-200% + 200px + 20%));
    }
  }
  @keyframes generalRightShift {
    100% {
      transform: translateX(calc(200% - 200px - 20%));
    }
  }
}