.db_list {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.db_quest {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 20px;
}
.db_quest div {
  display: flex;
  flex-direction: column;  
}
.db_text {
  display: flex;
  justify-content: space-around;
}