.main {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  font-weight: bold;
  text-align: center;

  &__video {
    height: 700px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 850px) {
  .main {
    &__video {
      height: 400px;
    }
  }
}