.greetNew {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  text-align: center;
}
.greetNew_page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.greet_answers {
  display: flex;
  cursor: pointer;
}
.greet_answer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: rgba(165, 42, 42, 0.2);
  border-radius: 25px;
  margin: 10px 10px 0px 0px;
}
.greet_answer:hover {
  background-color: rgba(165, 42, 42, 0.4);
}
.greet_answer_image_carcas {
  height: 275px;
  width: 275px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.greet_answer:hover {
  font-size: 16pt;
}
.greet_answer:hover .greet_answer_image {
  max-width: 95%;
  max-height: 95%;
}
.greet_answer_image {
  max-width: 90%;
  max-height: 90%;
}
.greet_text {
  padding-bottom: 10px;
}
@media screen and (max-width: 850px) {
  .greet_answers {
    flex-direction: column;
  }
  .greet_answer {
    margin: 0px 0px 10px 0px;
  }
  .greet_answer_image_carcas {
    height: 150px;
    width: 150px;
  }
}

