.greetNew {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.greetNew_page {
  border: 100px solid #40c4c8;
  padding: 20px;
  border-image: url(media/borderImgBig.png) 240 round round;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.questions {
  display: flex;
  cursor: pointer;
}
.question {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-bottom: 10px;
  height: 350px;
}
.question_image_carcas {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.question:hover {
  font-size: 16pt;
}
.question:hover .question_image {
  max-width: 250px;
  max-height: 300px;
}
.question_image {
  max-width: 225px;
  max-height: 270px;
}


