.main {
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  font-size: 18pt;
  font-weight: bold;
  text-align: center;
}
.mult_day {
  color: rgb(182, 28, 28);
  font-size: 20pt;
  margin-block-end: 10px;
}
.main_video {
  height: 700px;
}