.auth {
  width: 100%;
  height: 100%;
  background-color: rgba(19, 19, 53, 0.308);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  position:fixed;

  &__form {
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgba(19, 19, 53, 0.911);
    padding: 20px;
    border-radius: 20px;
    font-size: 14pt;
  }

  &__close_form {
    width: 100%;
  }

  &__close_form_button {
    float: right;
  }
  
  &__button {
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__inputs{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }

  &__input {
    width: 350px;
  }

  &__text{
    margin-top: 10px;
    margin-bottom: 10px;
  }

  &__error {
    margin: 0;
    margin-top: 10;
  }
}

@media screen and (max-width: 850px) {
  .auth {
    z-index: 101;
  }
}