.multfilms {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}
.multfilm_locked {
  height: 290px;
  width: 280px;
  background: url(../../../assets/decorations/Lock.png) no-repeat center/100% rgba(160, 27, 67, 0.35);
}
@media screen and (max-width: 850px) {
  .multfilms {
    flex-direction: row;
  }
  .multfilms_category {
    width: 33%;
  }
}