.basement {
  border-top: 1px solid black;
  display: flex;
  justify-content: space-around;
  padding: 20px;
}
.section {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.section_title {
  text-align: center;
  font-weight: bold;
  font-size: 16pt;
}
.section div {
  display: flex;
  flex-direction: column;
}