.survey {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  height: 60vh;

  &__image {
    height: 400px;
  }
  
  &__answers {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
  }

  &__answer {
    height: 30px;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    cursor: pointer;
    background-color: black;
  }

  &__answer_button {
    visibility: hidden;
  }
}

@media screen and (max-width: 850px) {
  .survey {
    
    &__form {
      margin-top: 20px;
    }

    &__image {
      max-height: 300px;
      max-width: 100%;
    }
  }
}