.survey {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 30px;
  width: 100%;
  min-height: 60vh;

  &__question {
    font-size: 16pt;
    margin-bottom: 10px;
  }

  &__image {
    height: 400px;
  }
  
  &__answers {
    display: flex;
  }

  &__answer {
    margin: 10px 10px 0px 0px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
  }

  &__answer_button {
    visibility: hidden;
    position: absolute;
  }

  &__lazy {
    max-height: 65vh;
  }
}

@media screen and (max-width: 850px) {
  .survey {
    
    &__form {
      margin-top: 20px;
    }

    &__image {
      max-height: 300px;
      max-width: 100%;
    }
  }
}